﻿@model HomeEditViewModel
@{
}

<h3>Edit Customer</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
        </div>


        <input type="submit" value="Save" class="btn btn-primary" />
    </div>




}
